.wrapper {
    position: relative;
}

.selected-items {
    list-style: none;
    width: 250px;
    padding: 3px;
    cursor: text;
    border-radius: 3px;
    border: solid 1px #ccc;
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top, #eeeeee 0%, #eeeeee 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #eeeeee 0%,#eeeeee 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #eeeeee 0%,#eeeeee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}

.focused {
    box-shadow: inset 0 0 2px rgba(0,0,0,0.5);
}

.selected {
    background-color: #ccc;
    border-radius: 3px;
}
.selected-items>li {
    display: inline-block;
}

.selected-items>.item {
    font-size: 14px;
    padding: 3px 5px;
}
.selected-items>.item a {
    padding: 3px 5px;
    color: #000;
}
.selected-items>.item a:hover {
    font-weight: 900;
}
.selected-items>.item:hover {
    box-shadow: inset 0 0 2px rgba(0,0,0,0.5);
}

.selected-items a {
    text-decoration: none;
}
.menu-list {
    background-color: #fcfcfc;
    position: absolute;
    list-style: none;
    padding: 3px;
    border-radius: 3px;
    border: solid 1px #ccc;
    margin: 0;
    z-index: 999;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}
.menu-list>li {
    padding: 2px;
    margin: 3px;
}
.item {
    border-radius: 3px;
    border: solid 1px #ccc;
    padding: 2px;
    margin: 2px;
    background: #feffff; /* Old browsers */
    background: -moz-linear-gradient(top, #feffff 0%, #d2ebf9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #feffff 0%,#d2ebf9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #feffff 0%,#d2ebf9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d2ebf9',GradientType=0 ); /* IE6-9 */
}
.text-input {
    border: none;
    background-color: transparent;
    width: 50px;
    font-size: 16px;
    padding: 3px;
    margin: 3px;
}
.text-input:focus, .text-input:active {
    border: none;
    outline: none;
}
.disable {
    color: #ccc;
}